<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Painel</title>
    <%- include('partials/components/dropdown.ejs') %>
  </head>
  <body class="bg-zinc-100 min-h-full min-h-screen">
    <main class="mx-auto w-full max-w-7xl py-4 px-4 3xl:px-0">
      <h1 class="text-black text-3xl font-medium mb-6">Usuário</h1>
      <section
        class="bg-white relative p-4 rounded border border-zinc-300 text-center mb-6"
      >
        <img
          src="<%= user.photoUrl ? user.photoUrl : `https://ui-avatars.com/api/?name=${user.name.replace(/\s/g, '+')}`%>"
          class="rounded-full w-32 mb-4 mx-auto"
        />
        <h3 class="text-xl"><%= user.name %></h3>
        <a
          target="_blank"
          href="<%= `/links/${user.username}` %>"
          class="cursor-pointer text-zinc-600 hover:text-indigo-500 font-medium inline-flex items-center transition duration-200"
        >
          <span class="mr-1">@<%= user.username %></span>
          <i data-feather="external-link" class="inline w-4 h-4"></i>
        </a>
        <%- include('partials/update-user-form.ejs', { csrf }) %>
        <div class="absolute top-0 right-0 mt-4 mr-4">
          <%- include('partials/user-dropdown.ejs', { csrf }) %>
        </div>
      </section>
      <div class="flex items-center justify-between mb-6">
        <h1 class="text-black text-3xl font-medium">Meus links</h1>
        <a
          href="/account/link"
          class="text-white cursor-pointer font-medium text-center py-2 rounded bg-indigo-500 hover:bg-indigo-800 transition px-6"
        >
          Adicionar
        </a>
      </div>
      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% links.forEach(function (link) { %>
        <article
          class="relative bg-white p-4 rounded border border-zinc-300 flex items-center justify-between"
        >
          <div>
            <h3 class="text-md font-medium flex items-center">
              <span class="mr-2"><%= link.title %></span>
              <% if (!link.visible) { %>
              <span
                class="px-2 py-0.5 rounded-full bg-zinc-400 text-zinc-800 text-center text-xs"
              >
                Inativo
              </span>
              <% } %>
            </h3>
            <div class="w-full text-zinc-600 flex items-center">
              <i
                data-feather="corner-down-right"
                class="inline w-4 h-4 mr-1"
              ></i>
              <a
                class="text-sm overflow-hidden text-ellipsis hover:underline"
                href="<%= link.link %>"
                target="_blank"
                ><%= link.link %></a
              >
            </div>
          </div>
          <%- include('partials/link-dropdown.ejs', { link, csrf }) %>
        </article>
        <% }) %>
      </section>
    </main>
    <script>
      feather.replace();
    </script>
  </body>
</html>
