<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="icon" href="data:," />
    <title>Painel Admin</title>
    <%- include('ui/dropdown.ejs') %>
  </head>
  <body class="bg-zinc-100 min-h-full min-h-screen">
    <main class="mx-auto w-full max-w-7xl py-4 px-4 3xl:px-0">
      <header
        class="bg-white px-4 py-2 relative rounded border border-zinc-300 mb-4 flex items-center justify-between"
      >
        <h1 class="text-lg font-medium">Painel Admin</h1>
        <div><%- include('components/admin-dropdown.ejs') %></div>
      </header>
      <%- include('components/admin-navigation.ejs') %>
      <section
        class="mb-4 border bg-white px-4 rounded border-zinc-300 transition"
      >
        <h1 class="text-black text-xl font-medium mt-4 mb-6">Ver usuário</h1>
        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
          <fieldset class="w-full flex flex-col items-start">
            <label
              for="name"
              class="block text-sm text-zinc-600 font-medium mb-1"
              >Nome</label
            >
            <input
              readonly
              type="text"
              id="name"
              name="name"
              value="<%= user.name %>"
              maxlength="50"
              class="border px-4 py-2 text-zinc-800 rounded bg-zinc-100 border-zinc-300 w-full outline-indigo-500 cursor-not-allowed"
            />
          </fieldset>
          <fieldset class="w-full flex flex-col items-start">
            <label
              for="username"
              class="block text-sm text-zinc-600 font-medium mb-1"
              >Usuário</label
            >
            <input
              readonly
              type="text"
              id="username"
              name="username"
              class="border px-4 py-2 text-zinc-800 rounded bg-zinc-100 border-zinc-300 w-full outline-indigo-500 cursor-not-allowed"
              value="<%= user.username %>"
            />
          </fieldset>
        </div>
        <fieldset class="w-full flex flex-col items-start mb-4">
          <label
            for="photoUrl"
            class="block text-sm text-zinc-600 font-medium mb-1"
            >Url de foto de perfil</label
          >
          <input
            type="url"
            id="photoUrl"
            name="photoUrl"
            maxlength="500"
            class="border px-4 py-2 text-zinc-800 rounded bg-zinc-100 border-zinc-300 w-full outline-indigo-500 cursor-not-allowed"
            value="<%= user.photoUrl %>"
          />
        </fieldset>
        <fieldset class="w-full flex flex-col items-start mb-4">
          <label
            for="description"
            class="block text-sm text-zinc-600 font-medium mb-1"
            >Descrição</label
          >
          <input
            type="text"
            id="description"
            name="description"
            maxlength="50"
            class="border px-4 py-2 text-zinc-800 rounded bg-zinc-100 border-zinc-300 w-full outline-indigo-500 cursor-not-allowed"
            value="<%= user.description %>"
          />
        </fieldset>
        <div class="mt-2 mb-4 flex items-center justify-end gap-4">
          <a
            href="/admin"
            class="h-10 text-zinc-600 cursor-pointer font-medium text-center py-2 rounded border border-zinc-400 bg-transparent px-4"
          >
            Voltar
          </a>
        </div>
      </section>
    </main>
    <script>
      feather.replace();
    </script>
  </body>
</html>
