<section class="bg-white p-4 rounded border border-zinc-300">
  <h1 class="text-black text-xl font-medium mb-6">Configurações de SMTP</h1>
  <form method="post" action="/admin/settings" class="w-full mt-4">
    <input hidden type="text" name="csrf" value="<%= csrf %>" />
    <fieldset class="w-full flex flex-col items-start mb-4">
      <label for="host" class="block text-sm text-zinc-600 font-medium mb-1"
        >Servidor</label
      >
      <input
        type="text"
        id="host"
        name="host"
        placeholder="smtp.domain.com"
        value="<%= config.smtpHost %>"
        class="border px-4 py-2 text-zinc-800 rounded border-zinc-300 w-full outline-indigo-500"
      />
    </fieldset>
    <fieldset class="w-full flex flex-col items-start mb-4">
      <label for="port" class="block text-sm text-zinc-600 font-medium mb-1"
        >Porta</label
      >
      <input
        type="text"
        id="port"
        name="port"
        placeholder="587"
        value="<%= config.smtpPort %>"
        class="border px-4 py-2 text-zinc-800 rounded border-zinc-300 w-full outline-indigo-500"
      />
    </fieldset>
    <fieldset class="w-full flex flex-col items-start mb-4">
      <label for="user" class="block text-sm text-zinc-600 font-medium mb-1"
        >Usuário</label
      >
      <input
        type="text"
        id="user"
        name="user"
        placeholder="user@domain.com"
        value="<%= config.smtpUser %>"
        class="border px-4 py-2 text-zinc-800 rounded border-zinc-300 w-full outline-indigo-500"
      />
    </fieldset>
    <fieldset class="w-full flex flex-col items-start mb-4">
      <label for="password" class="block text-sm text-zinc-600 font-medium mb-1"
        >Senha</label
      >
      <input
        type="password"
        id="password"
        name="password"
        value="<%= config.smtpPass %>"
        class="border px-4 py-2 text-zinc-800 rounded border-zinc-300 w-full outline-indigo-500"
      />
    </fieldset>
    <div class="mb-4">
      <label for="secure" class="block text-sm text-zinc-600 font-medium mb-2"
        >Seguro (TLS)</label
      >
      <div>
        <input id="secure" name="secure" type="checkbox" hidden />
        <button
          id="secure-switch"
          is="custom-switch"
          type="button"
          aria-checked="<%= config.smtpSecure %>"
        ></button>
        <script>
          const defaultChecked = <%= config.smtpSecure %>;
          const secure = document.querySelector("#secure");

          if (defaultChecked) {
            secure.checked = true;
          }

          document
            .querySelector("#secure-switch")
            .addEventListener("switch", function (e) {
              secure.checked = e.detail.checked;
            });
        </script>
      </div>
    </div>
    <div class="mt-2 flex items-center justify-end gap-4">
      <button
        type="submit"
        class="h-10 text-white cursor-pointer font-medium text-center py-2 rounded bg-indigo-500 hover:bg-indigo-800 transition px-6"
      >
        Salvar
      </button>
    </div>
  </form>
</section>
